<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>498121301637-dvn3jl55tk3qt8afgrqq6r29fsr6k88e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.498121301637-dvn3jl55tk3qt8afgrqq6r29fsr6k88e</string>
	<key>API_KEY</key>
	<string>AIzaSyBQlds08LYzqVsDTi0vkjSy2HGmtMzI_ec</string>
	<key>GCM_SENDER_ID</key>
	<string>498121301637</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.braka.reHydrate</string>
	<key>PROJECT_ID</key>
	<string>rehydrate-bfecd</string>
	<key>STORAGE_BUCKET</key>
	<string>rehydrate-bfecd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:498121301637:ios:3185cd47d0673133dc93ec</string>
</dict>
</plist>